#-------------------------------------------------------------------------------------
# FILE          | .gitignore
# SUMMARY       | Files and patterns for files and directories that git should ignore
# DATE          | ####/##/## CREATION_DATE
# LICENSE       | Please see the file named LICENSE in the project directory
# PROJECT SITE  | https://github.com/caltechlibrary/PROJECT
#
#
# The approach we suggest is to add ONLY project-specific rules here.
#-------------------------------------------------------------------------------------
.idea/
.DS_Store
.github/drafts

# ------- CONSIDER THESE FILES -------
# 1. Data Files & Directories           (*.mrc, *.db, *.dat, *.sqlite)
# 2. Log Files                          (*.log)
# 3. Byte-compiled | Optimized Files    (__pycache__/, *.py[cod])
# 4, Environments & Configuration Files (*.env, *.ini, *.conf)
# 5. Development Directories            (dev)
# 6. Build                              (build/, *.egg-info)
